<form id ="nav-bar-form" role="form" class="navbar-form hidden-xs" method="POST" action="/app_settings">
    {% if settings.get('ui.filters', '0') != '0' %}
    <div class="dropdown form-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="filters_menu" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-filter"></i>
            <span class="hidden-sm hidden-xs hidden-md">Filters</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filters_menu">
            <li role="presentation"><a role="menuitem" href="?search=&title=All resources">All resources</a></li>
            <li role="presentation"><a role="menuitem" href="?search=type:host&title=All hosts">All hosts</a></li>
            <li role="presentation"><a role="menuitem" href="?search=type:service&title=All services">All services</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="?search=isnot:0 isnot:ack isnot:downtime&title=New problems">New problems</a></li>
            <li role="presentation"><a role="menuitem" href="?search=is:ack&title=Acknowledged problems">Acknowledged problems</a></li>
            <li role="presentation"><a role="menuitem" href="?search=is:downtime&title=Scheduled downtimes">Scheduled downtimes</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=5">Impact : {{ helper.get_html_business_impact(5)|safe }}</a></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=4">Impact : {{ helper.get_html_business_impact(4)|safe }}</a></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=3">Impact : {{ helper.get_html_business_impact(3)|safe }}</a></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=2">Impact : {{ helper.get_html_business_impact(2)|safe }}</a></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=1">Impact : {{ helper.get_html_business_impact(1)|safe }}</a></li>
            <li role="presentation"><a role="menuitem" href="?search=bp:>=0">Impact : {{ helper.get_html_business_impact(0)|safe }}</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" onclick="display_modal('/modal/helpsearch')"><strong><i class="fa fa-question-circle"></i> Search syntax</strong></a></li>
        </ul>
    </div>
    {% endif %}
    {% if settings.get('ui.search_form', '0') != '0' %}
    <div class="form-group">
        <label class="sr-only" for="search">Filter</label>
        <div class="input-group">
            <span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-search"></i> {{ helper.search_name if helper.search_name else '' }}</span>
            <input class="form-control" type="search" id="search_string" name="search_string" value="{{ helper.search_string if helper.search_string else '' }}">
        </div>
    </div>
    {% endif %}
    {% if settings.get('ui.bookmarks', '0') != '0' %}
    <div class="dropdown form-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="bookmarks_menu" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-bookmark"></i>
            <span class="hidden-sm hidden-xs hidden-md">Bookmarks</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="bookmarks_menu">
            <script type="text/javascript">
            </script>
        </ul>
    </div>
    {% endif %}
</form>

{% if settings.get('ui.search_form', '0') != '0' %}
<script type="text/javascript">
    // Set this variable to be used in page-refresh.js functions ...
    var app_search_string = "{{ settings.get('ui.search_string', '') }}";

    // Search filter changed in the header input form ...
    $('#nav-bar-form').on('submit', function(event) {
        var $form = $(this);

        // Block automatic submission ...
        event.preventDefault();

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize()
        })
        .done(function(html, textStatus, jqXHR) {
            console.log("Refreshing search string: ", html);
        })
        .fail(function( jqXHR, textStatus, errorThrown ) {
            console.error("Ajax error.", errorThrown, textStatus);
        });
    });
</script>
{% endif %}
