{# alignak_webui/templates/_livestate-graphs.html_ #}

<div class="row" id="livestate-graphs">
    <h2 class="page-header">System status</h2>
    <div class="row" style="min-height: 150px">
        <div id="chart-hosts" class="col-xs-12 col-sm-6 col-md-2">
            <div class="well center-block">
                <canvas></canvas>
                <center>
                    <h4>Current hosts states</h4>
                    <span class="text-muted">-/-</span>
                </center>
            </div>
        </div>
        <div id="chart-services" class="col-xs-12 col-sm-6 col-md-2">
            <div class="well center-block">
                <canvas></canvas>
                <center>
                    <h4>Current services states</h4>
                    <span class="text-muted">-/-</span>
                </center>
            </div>
        </div>
        <div id="chart-hosts-serie" class="col-xs-12 col-sm-6 col-md-4">
            <div class="well center-block">
                <canvas></canvas>
                <center>
                    <h4>Hosts states monitoring</h4>
                    <span class="text-muted">-/-</span>
                </center>
            </div>
        </div>
        <div id="chart-services-serie" class="col-xs-12 col-sm-6 col-md-4">
            <div class="well center-block">
                <canvas></canvas>
                <center>
                    <h4>Services states monitoring</h4>
                    <span class="text-muted">-/-</span>
                </center>
            </div>
        </div>
    </div>
</div>
<script>
    Chart.defaults.global.responsive = true;

    var states_queue = {
        "nb_up": [],
        "nb_unreachable": [],
        "nb_down": [],

        "nb_ok": [],
        "nb_warning": [],
        "nb_critical": [],
        "nb_unknown": []
    }

    var graph_hosts_states = "{{ settings.get('layout.livestate-graphs-hosts-states', 'up,down,unreachable') }}";
    graph_hosts_states = graph_hosts_states.split(',');
    var pie_graph_hosts_parameters = {
        "up": {
            color:"#5bb75b",
            highlight: "#5AD3D1",
            label: "Up"
        },
        "unreachable": {
            color: "#faa732",
            highlight: "#5AD3D1",
            label: "Unreachable"
        },
        "down": {
            color: "#da4f49",
            highlight: "#5AD3D1",
            label: "Down"
        }
    }
    var line_graph_hosts_parameters = {
        labels: ["-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "0"],
        datasets: {
            "up": {
                label: "Hosts up",
                fillColor: "rgba(91,183,91,0.2)",
                strokeColor: "rgba(91,183,91,1)",
                pointColor: "rgba(91,183,91,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)"
            },
            "unreachable": {
                label: "Hosts unreachable",
                fillColor: "rgba(250,167,50,0.2)",
                strokeColor: "rgba(250,167,50,1)",
                pointColor: "rgba(250,167,50,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)"
           },
           "down": {
                label: "Hosts down",
                fillColor: "rgba(218,79,73,0.2)",
                strokeColor: "rgba(218,79,73,1)",
                pointColor: "rgba(218,79,73,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)"
           }
        }
    };

    var graph_services_states = "{{ settings.get('layout.livestate-graphs-services-states', 'ok,warning,critical,unknown') }}";
    graph_services_states = graph_services_states.split(',');
    var pie_graph_services_parameters = {
        "ok": {
            color:"#5bb75b",
            highlight: "#5AD3D1",
            label: "Ok"
        },
        "warning": {
            color: "#faa732",
            highlight: "#5AD3D1",
            label: "Warning"
        },
        "critical": {
            color: "#da4f49",
            highlight: "#5AD3D1",
            label: "Critical"
        },
        "unknown": {
            color: "#5AD3D1",
            highlight: "#5AD3D1",
            label: "Unknown"
        }
    }
    var line_graph_services_parameters = {
        labels: ["-9", "-8", "-7", "-6", "-5", "-4", "-3", "-2", "-1", "0"],
        datasets: {
            "ok": {
                label: "Services ok",
                fillColor: "rgba(91,183,91,0.2)",
                strokeColor: "rgba(91,183,91,1)",
                pointColor: "rgba(91,183,91,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)"
            },
            "warning": {
                label: "Services warning",
                fillColor: "rgba(250,167,50,0.2)",
                strokeColor: "rgba(250,167,50,1)",
                pointColor: "rgba(250,167,50,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)"
           },
           "critical": {
                label: "Services critical",
                fillColor: "rgba(218,79,73,0.2)",
                strokeColor: "rgba(218,79,73,1)",
                pointColor: "rgba(218,79,73,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)"
           },
           "unknown": {
                label: "Services unknown",
                fillColor: "rgba(90,211,209,0.2)",
                strokeColor: "rgba(90,211,209,1)",
                pointColor: "rgba(90,211,209,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)"
           }
        }
    };
</script>
