{# alignak_webui/templates/_livestate-list.html_ #}

<h2 class="page-header">System live state</h2>
{% set ls = helper.get_livestate( {"sort": 'state'} ) %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="btn btn-default btn-xs pull-left" data-type="business-impact" data-business-impact="4" data-state="off">Select all elements</button>

            <i class="pull-right small">{{ ls|count }} elements</i>
            <h3 class="text-center">Business impact: {{ helper.get_html_business_impact(4, icon=True, text=True)|safe }}</h3>

            <!-- TODO ... data- ... -->
            <table class="table table-invisible table-condensed">
                <thead><tr>
                    <th width="20px"></th>
                    <th width="40px"></th>
                    <th width="60px">Host</th>
                    <th width="90px">Service</th>
                    <th width="90px">State</th>
                    <th class="hidden-sm hidden-xs" width="90px">Duration</th>
                    <th class="hidden-sm hidden-xs" width="100%">Output</th>
                </tr></thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
