{# alignak_webui/templates/home-page.html #}

{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block body %}
    {{ super() }}
    {% if settings.get('layout.graph', 'false') != "false" %}
    <h2 class="page-header">System status</h2>
    <div class="row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <canvas id="myChart1" style="height: 60px"></canvas>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <canvas id="myChart2_1" style="height: 60px"></canvas>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <canvas id="myChart2_2" style="height: 60px"></canvas>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <canvas id="myChart3" style="height: 60px"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
            <center>
                <h4>Label</h4>
                <span class="text-muted">Chart 1</span>
            </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
            <center>
                <h4>Hosts states</h4>
                <span class="text-muted">Chart 2.1</span>
            </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
            <center>
                <h4>Services states</h4>
                <span class="text-muted">Chart 2.2</span>
            </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <center>
                <h4>Label</h4>
                <span class="text-muted">Chart 3</span>
            </center>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        Chart.defaults.global.responsive = true;

        if ($("#myChart1").length !== 0) {
          // Line chart
          var data = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                  {
                      label: "My First dataset",
                      fillColor: "rgba(220,220,220,0.2)",
                      strokeColor: "rgba(220,220,220,1)",
                      pointColor: "rgba(220,220,220,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  },
                  {
                      label: "My Second dataset",
                      fillColor: "rgba(151,187,205,0.2)",
                      strokeColor: "rgba(151,187,205,1)",
                      pointColor: "rgba(151,187,205,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }
              ]
          };
          // Get the context of the canvas element we want to select
          var ctx = $("#myChart1").get(0).getContext("2d");
          // var ctx = document.getElementById("myChart1").getContext("2d");
          var myLineChart = new Chart(ctx).Line(data);
       }


       if ($("#myChart2_1").length !== 0) {
          // Pie chart
          var data = [
              {
                  value: 90,
                  color:"#5bb75b",
                  highlight: "#5AD3D1",
                  label: "Up"
              },
              {
                  value: 10,
                  color: "#faa732",
                  highlight: "#5AD3D1",
                  label: "Unreachable"
              },
              {
                  value: 5,
                  color: "#da4f49",
                  highlight: "#5AD3D1",
                  label: "Down"
              }
          ]
          // Get the context of the canvas element we want to select
          var ctx = $("#myChart2_1").get(0).getContext("2d");
          var myPieChart = new Chart(ctx).Pie(data);
       }
       if ($("#myChart2_2").length !== 0) {
          // Pie chart
          var data = [
              {
                  value: 300,
                  color:"#5bb75b",
                  highlight: "#5AD3D1",
                  label: "Ok"
              },
              {
                  value: 100,
                  color: "#faa732",
                  highlight: "#5AD3D1",
                  label: "Warning"
              },
              {
                  value: 50,
                  color: "#da4f49",
                  highlight: "#5AD3D1",
                  label: "Critical"
              }
          ]
          // Get the context of the canvas element we want to select
          var ctx = $("#myChart2_2").get(0).getContext("2d");
          var myPieChart = new Chart(ctx).Pie(data);
       }

       if ($("#myChart3").length !== 0) {
          // Bar chart
          var data = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                  {
                      label: "My First dataset",
                      fillColor: "rgba(220,220,220,0.5)",
                      strokeColor: "rgba(220,220,220,0.8)",
                      highlightFill: "rgba(220,220,220,0.75)",
                      highlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  },
                  {
                      label: "My Second dataset",
                      fillColor: "rgba(151,187,205,0.5)",
                      strokeColor: "rgba(151,187,205,0.8)",
                      highlightFill: "rgba(151,187,205,0.75)",
                      highlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }
              ]
          };
          // Get the context of the canvas element we want to select
          var ctx = $("#myChart3").get(0).getContext("2d");
          var myBarChart = new Chart(ctx).Bar(data);
       }
    });
    </script>
    {% endif %}

    <div class="row" id="to_refresh">
    {% include '_problems-list.html' %}
    </div>
{% endblock %}
